.gradle
build/
.idea
*.iws
*.iml
*.ipr
.kotlin
flake.lock
/compiler/out/
/csharp/AssemblyResolver/bin/
/csharp/AssemblyResolver/obj/
/csharp/kotlin-stdlib/bin/
/csharp/kotlin-stdlib/obj/
/csharp/KotlinCLR/bin/
/csharp/KotlinCLR/obj/
/csharp/KotlinCLR.sln.DotSettings.user
home/*
/out-jvm/
